<!-- Footer-->
<footer class="py-5 bg-dark">
  <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Ulisses Alba - <span id="data"></span></p>
  </div>
</footer>

<script>
  let data = new Date();
  let dataAno = data.getFullYear();
  document.getElementById('data').innerText = dataAno;
</script>






<!-- FOOTER -->
<!-- <div class="container">
  <footer class="row align-items-center py-5 my-5 border-top">
    <div class="col-md-6 mb-3">
      <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
        <img class="w-50" src="{{url('templates/site/assets/img/logo-2.png')}}" alt="Logo">
      </a>
    </div>

    <div class="col-md-6 d-flex justify-content-end align-items-center">
      <div class="me-4">
        <h4>Contatos</h4>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="https://wa.me/5519971553715" target="_blank" class="nav-link p-0 text-muted">(19) 97155-3715</a></li>
          <li class="nav-item mb-2"><a href="mailto:ulisses.alba.dev@gmail.com" class="nav-link p-0 text-muted">ulisses.alba.dev@gmail.com</a></li>
        </ul>
      </div>
      <div>
        <h4>Redes Sociais</h4>
        <div class="d-flex gap-3">
          <a href="https://wa.me/5519971553715" target="_blank"><i class="bi bi-whatsapp"></i></a>
          <a href="https://www.linkedin.com/in/ulisses-alba/" target="_blank"><i class="bi bi-linkedin"></i></a>
          <a href="https://www.instagram.com/ulisses_alba/" target="_blank"><i class="bi bi-instagram"></i></a>
        </div>
      </div>
    </div>
  </footer>
</div>

</main> -->