{% extends 'base.html' %}

{% block conteudo %}

<!-- card -->
<div style="padding-top: 150px; padding-bottom: 50px;" class="bg-light">
    <div class="container">
        <div class="row">
            <!-- Cards Section -->
            <div class="col-md-12">

                {%if posts%}

                <div class="row">
                    {% for post in posts %}
                    <div class="col-md-4">
                        <div class="card">
                            <img src="{{ url('templates/site/assets/img/card-img.png') }}" class="card-img-top"
                                alt="Post">
                            <div class="card-body">
                                <h5 class="card-title">{{ post.titulo }}</h5>
                                <p class="card-text">{{ textoResumido(post.texto, 90) }}</p>
                                <a href="{{ url('/post/'~post.id) }}" class="btn btn-primary">Ler Mais</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                {% else %}

                <div class="alert alert-warning" role="alert">
                    Nenhum resultado para essa pesquisa!
                </div>

                {% endif %}

            </div>

        </div>
    </div>
</div>

{% endblock %}