<!-- Side widgets-->
<div class="col-lg-4">
    <!-- Search widget-->
    <div class="card mb-4">
        <div class="card-header bg-dark text-white">Pesquisar</div>
        <div class="card-body">
            <div class="input-group">
                <form class="d-flex" action="{{url('/pesquisa')}}" method="post">
                    <input name="pesquisa" class="form-control" type="search" placeholder="Pesquisar"
                        aria-label="Search">
                    <button class="btn btn-dark" type="submit"><i class="bi bi-search"></i></button>
                </form>
            </div>
        </div>
    </div>
    <!-- Categories widget-->
    <div class="card mb-4">
        <div class="card-header bg-dark text-white">Categorias</div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    <ul class="list-unstyled mb-0">
                        {% for categoriaE in categoriasEsquerda %}
                        <li><a class="text-decoration-none text-dark" href="{{ url('/categorias/'~categoriaE.id) }}">{{
                                categoriaE.titulo }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul class="list-unstyled mb-0">
                        {% for categoriaD in categoriasDireita %}
                        <li><a class="text-decoration-none text-dark" href="{{ url('/categorias/'~categoriaD.id) }}">{{
                                categoriaD.titulo }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Side widget-->
    <div class="card mb-4">
        <div class="card-header bg-dark text-white">Sobre mim</div>
        <div class="card-body"><strong>Sou Ulisses Alba, Desenvolvedor Full Stack</strong> com experiência em
            PHP, desenvolvimento de APIs REST e versionamento de código. Possuo conhecimento e experiência em
            tecnologias front-end como Bootstrap, CSS, HTML e JavaScript para manipulação do DOM.
            Minha experiência também abrange a criação e otimização de consultas SQL para interação com bancos
            de dados MySQL e MariaDB.</div>
    </div>
</div>