{% extends 'base.html' %}

{% block content %}

<h1>teste</h1>
{{ flash() }}
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, a nisi? Dolor saepe placeat aperiam distinctio veniam provident. Odit dignissimos obcaecati molestias reiciendis dolores beatae ea, maxime laudantium laborum, iure temporibus hic, aliquid perspiciatis doloribus sequi. Quod amet, maxime ipsum aliquid numquam veritatis officiis ducimus voluptate sapiente velit dolorem ea commodi eum hic nesciunt odit! Error minus cupiditate consequatur distinctio, qui quam nesciunt suscipit! Repudiandae velit reiciendis consectetur nam a recusandae quasi fuga nisi? Minus perferendis beatae ullam porro, iste sint quidem alias velit, quam molestias quasi quis, aliquam tempora aspernatur est ab fugiat deserunt doloremque voluptatibus explicabo dignissimos laudantium.</p>

{% endblock %}