<footer class="footer">
    <div class="container-fluid">
        <div class="row text-body-secondary">
            <div class="col-6 text-start ">
                <a class="text-body-secondary" href=" #">
                    <strong>CodzSwod</strong>
                </a>
            </div>
            <div class="col-6 text-end text-body-secondary d-none d-md-block">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <a class="text-body-secondary" href="#">Contact</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-body-secondary" href="#">About Us</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-body-secondary" href="#">Terms & Conditions</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</div>
</div> <!-- DIV que fecha o conteúdo aberta no sidebar.html-->