@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);

/* cards */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #000000;
  /* Fundo escuro */
  border-radius: 50%;
  /* Botões arredondados */
  width: 40px;
  height: 40px;
}

.carousel-control-next-icon {
  margin-left: -40px;
  margin-bottom: 170px;
}

.carousel-control-prev-icon {
  margin-right: -40px;
  margin-bottom: 170px;
}

.carousel-control-prev,
.carousel-control-next {
  z-index: 10;
}
/* end Cards */

/* Nav Itens */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.logo-header {
  width: 120px;
  padding-left: 0;
  margin-right: auto;
}

.li-nav-item {
  color: black;
}

.container header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 7 10px;
}

a.nav-link {
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  text-align: right;
  color: #333333;
  text-decoration: none;
}

div a h1 {
  font-weight: 700;
  font-style: normal;
}

.info-container {
  background-color: #333333;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.info-container a {
  text-decoration: none;
}

.info-container h1 {
  color: white;
  font-size: 17px;
  font-family: Montserrat, sans-serif;
  text-align: center;
  padding-top: 5px;
  margin: 0;
  gap: 10px;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

a.nav-link {
  line-height: 58px;
}

.logo-header {
  max-height: 100px;
  height: auto;
  width: auto;
}

.nav {
  display: flex;
  gap: 10px;
}

/* End Header */


@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);

/* Nav Itens */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.logo-header {
  width: 120px;
  padding-left: 0;
  margin-right: auto;
}

.li-nav-item {
  color: black;
}

.container header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 7 10px;
}

a.nav-link {
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  text-align: right;
  color: #333333;
  text-decoration: none;
}

div a h1 {
  font-weight: 700;
  font-style: normal;
}

.info-container {
  background-color: #333333;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.info-container a {
  text-decoration: none;
}

.info-container h1 {
  color: white;
  font-size: 17px;
  font-family: Montserrat, sans-serif;
  text-align: center;
  padding-top: 5px;
  margin: 0;
  gap: 10px;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

a.nav-link {
  line-height: 58px;
}

.logo-header {
  max-height: 100px;
  height: auto;
  width: auto;
}

.nav {
  display: flex;
  gap: 10px;
}

/* End Header */

/* Banner Rotativo */
.info-carousel {
  font-family: Montserrat;
  font-size: 45px;
  color: white;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  white-space: nowrap;
  /* Para evitar quebra de linha */
}

.info-carousel h5 {
  font-size: 58px;
  /* Tamanho do texto para o h5 */
  font-weight: 700;
  font-style: normal;
}

.carousel-item {
  position: relative;
  height: 100vh;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sub-info {
  font-family: Montserrat;
  font-size: 20px;
  color: white;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.saiba-mais-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #00a4e2;
  color: white;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  width: 220px;
  height: 60px;
  border-radius: 4px;
  text-align: center;
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.saiba-mais-btn:hover {
  background-color: #333333;
  color: white;
}

body {
  margin: 0;
  padding: 0;
}

.container header {
  margin-bottom: 0;
  padding-bottom: 0;
}

#carouselExampleSlidesOnly {
  margin-top: 0;
  padding-top: 0;
}

.carousel-item {
  margin-top: 0;
  padding-top: 0;
}

.nav {
  margin-top: 0;
  padding-top: 0;
}

/* Remove the bottom border from the header */
header.d-flex.flex-wrap.justify-content-between.align-items-center.py-3.mb-4 {
  border-bottom: none;
}

/* Ensure the banner is flush with the header */
.container-fluid.p-0 {
  margin-bottom: 0;
  padding-bottom: 0;
}

div a h1 {
  font-weight: 700;
  font-style: normal;
  font-size: 15px;

}

i.bi.bi-person-fill {
  font-weight: 500;
  font-style: normal;
}

.sobre.html h1 {
  color: black;
}

div.col-md-4.text-center {
  font-family: Montserrat;
  position: relative;
  right: 30px;
  top: 130px;
}

div.col-md-4.text-center .container {
  background-color: #288FD7;
  position: relative;
  width: 100px;
  height: 3px;
  display: flex;
  right: 120px;
  top: 10px;
}

div div h3 {
  text-align: left;
  color: #000000;
  line-height: 30px;
  font-size: 31px;
}

div div p {
  text-align: left;
  color: #000000;
  position: relative;
}

div p b {
  text-align: left;
  color: #333333;
}

div.col-md-8.text-center {
  padding: 120px;
  position: relative;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  color: #fb8c00;
  right: 120px;
  text-align: left;

}

/* End Carousel (banner rotativo) */

/* Planejamento */

.planejamento {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.planejamento img {
  width: 2000px;
  height: 565px;
  object-fit: cover;
}

.planejamento .planejamento-content .min-text {
  position: relative;
  left: 785px;
  font-family: Montserrat;
  color: white;
  bottom: 410px;
  font-size: 36px;
}

.planejamento .planejamento-content .max-text {
  position: relative;
  left: 630px;
  bottom: 420px;
  font-family: Montserrat;
  font-weight: 700;
  color: white;
  font-size: 60px;
  font-style: normal;
}

.planejamento .planejamento-content .square {
  width: 5%;
  height: 3px;
  background-color: white;
  position: relative;
  bottom: 404px;
  left: 970px;
}

.planejamento .planejamento-content .square .btn {
  color: #ffffff;
  font-family: Montserrat;
  font-weight: 500;
  font-style: normal;
  background-color: #288fd7;
  position: relative;
  top: 50px;
  width: 220px;
  height: 55px;
  right: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 0.4s;
}

.planejamento .planejamento-content .square .btn:hover {
  background-color: #383838;
}

/* End Planejamento */

/* Cards Nossos Serviços */

/* Estilos para os cards */
.card {
  width: 22rem;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.card .bi {
  font-size: 6rem;
  color: #288FD7;
}

.card-title {
  font-size: 2.5rem;
}

.card-text {
  font-size: 1.5rem;
}

/* Estilo para o título "Nossos Serviços" */
.nossos-servicos-title {
  text-align: center;
  margin-bottom: 1.5rem;
}

.nossos-servicos-square {
  display: block;
  margin: 0 auto;
}

h4.card-title {
  font-family: Montserrat;
  color: #000000;
  font-size: 18px;
  text-decoration: none;
  position: relative;
  bottom: 20px;
}

i.bi.bi-pencil-square {
  height: 90px;
}

.container.mt-5 h2 {
  position: relative;
  right: 400px;
  font-family: Montserrat;
  color: black;
  bottom: 85px;
}

div.square.mx-auto {
  background-color: #288fd7;
  height: 3px;
  position: relative;
  width: 9%;
  right: 485px;
  bottom: 70px;
}

p.card-text {
  font-size: 18px;
  font-family: Montserrat;
  text-align: center;

}

div.card-body {
  font-family: Montserrat;
  font-size: 14px;
  background-color: #F2F7F8;
  height: 40px;
}

i.bi.bi-graph-up {
  font-size: 51px;
  text-transform: lowercase;
  position: relative;
  bottom: 15px;
}

h4.card-title {
  position: relative;
  top: 10px;
}

p.card-text {
  position: relative;
  top: 37px;
}

.custom-card {
  height: 300px;
  width: auto;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 0;
}

.custom-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.icon-container,
.text-container {
  text-align: center;
}

.custom-icon {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.custom-title,
.custom-text {
  margin: 0.5rem 0;
}

i.bi.bi-pencil-square.custom-icon {
  font-size: 60px;
  position: relative;
  bottom: 17px;
}

/* Specific styles for each card */
.card-1 .card-title {
  position: relative;
  top: 5px;
}

.card-1 .card-text {
  position: relative;
  top: 30px;
}

.card-2 .card-title {
  position: relative;
  top: 10px;
}

.card-2 .card-text {
  position: relative;
  top: 35px;
}

.card-3 .card-title {
  position: relative;
  top: 15px;
}

.card-3 .card-text {
  position: relative;
  top: 40px;
}

.card-4 .card-title {
  position: relative;
  top: 20px;
}

.card-4 .card-text {
  position: relative;
  top: 45px;
}

.card-5 .card-title {
  position: relative;
  top: 25px;
}

.card-5 .card-text {
  position: relative;
  top: 50px;
}

.card-6 .card-title {
  position: relative;
  top: 30px;
}

.card-6 .card-text {
  position: relative;
  top: 55px;
}

div.card-body {
  font-family: Montserrat;
  font-size: 14px;
  background-color: #F2F7F8;
  height: 40px;
}

i.bi.bi-graph-up {
  font-size: 51px;
  text-transform: lowercase;
  position: relative;
  bottom: 15px;
}

h4.card-title {
  position: relative;
  top: 10px;
}

p.card-text {
  position: relative;
  top: 37px;
}

.custom-card {
  height: 300px;
  width: auto;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 0;
}

.custom-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.icon-container,
.text-container {
  text-align: center;
}

.custom-icon {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.custom-title,
.custom-text {
  margin: 0.5rem 0;
}

i.bi.bi-pencil-square.custom-icon {
  font-size: 60px;
  position: relative;
  bottom: 17px;
}

h4.card-title.custom-title {
  position: relative;
}

p.card-text.custom-text {
  position: relative;
  bottom: 16px;
}

i.bi.bi-calendar-check.custom-icon {
  font-size: 60px;
  position: relative;
  bottom: 17px;
}

h5.info-carousel {
  font-weight: 700;
  font-style: normal;
  font-size: 70px;
}

div div h5 {
  font-weight: 300;
  font-style: normal;
}

i.bi.bi-pencil-square.custom-icon {
  position: relative;
  top: 3px;
}

i.bi.bi-graph-up.custom-icon {
  position: relative;
  top: 3px;
  font-size: 56px;
}



section.nossos-servicos {
  padding-bottom: 170px;
  background-color: #F2F7F8;
  margin-top: -190px;
  margin-bottom: 90px;
}

div.card-body {
  position: relative;
}

h2.nossos-servicos-title {
  margin: 60px;
  padding-top: 29px;
  position: relative;
  top: 39px;
  left: -435px;
}

i.bi.bi-file-person {
  font-size: 56px;
}

i.bi.bi-calendar-check.custom-icon {
  position: relative;
  top: 3px;
  font-size: 56px;
}

i.bi.bi-newspaper {
  position: relative;
  top: 3px;
  font-size: 56px;
}

.bi.bi-list {
  display: none;
}

p.card-text.custom-text {
  position: relative;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  color: #888888;
}

div.container-square {
  background-color: #288FD7;
  height: 3px;
  position: relative;
  width: 10%;
  top: 4px;
}

.contact-item {
  text-align: center;
  padding: 20px;
}

.contact-item .bi {
  margin-right: 8px;
}

@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);

div div h4 {
  font-family: Montserrat;
  font-size: 16px;
  text-align: center;
}

div ul li {
  font-family: Montserrat;
  font-size: 14px;
  text-align: left;
  font-weight: 300;
}

h4.matriz-txt,
h4.filial-ars,
h4.filial-prs {
  text-align: left;
}

h5.contact-title {
  font-family: Montserrat;
  font-size: 16px;
  text-align: left;
  color: #383838;
  font-weight: 500;
}

p.contact-phone,
p.contact-email,
p.contact-address {
  font-size: 14px;
  font-weight: 300;
  font-family: Montserrat;
}

section.container-telefones {
  background-color: #F9F9F9;
  width: 100vw;
  /* Use vw para cobrir toda a largura da viewport */
  padding-top: 90px;
  padding-bottom: 40px;
  margin-top: -10px;
  /* Verifique se é realmente necessário */
  position: relative;
  top: 48px;
  /* Verifique se é realmente necessário */
}

footer.d-flex.justify-content-between.align-items-center.py-3.my-4.border-top {
  background-color: #383838;
  height: 110px;
  position: relative;
  bottom: -25px;
  /* Verifique se é realmente necessário */
  width: 100%;
}

span.mb-3.mb-md-0.text-muted {
  text-align: left;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  color: white;
  position: relative;
  left: 80px;
}

@media (max-width: 425px) {
  .container {
    padding: 3px;
  }

  .flex-container {
    height: 4px;
  }

  ul.nav.nav-pills {
    display: none;
  }

  .img.logo-header {
    width: 90px;
  }

  .i.bi-list {
    width: 150px;
  }

  .d-flex.flex-wrap.justify-content-between.align-items-center.py-2.mb-0.border-bottom {
    width: 150px;
  }

  i.fa.fa-bars {
    font-size: 25px;
    position: relative;
    left: 250px;
    bottom: 80px;
  }

  img.logo-header {
    position: relative;
    right: 20px;
    width: 160px;
  }

  header.d-flex.flex-wrap.justify-content-between.align-items-center.py-2.mb-0.border-bottom {
    height: 105px;
  }

  .bi.bi-list {
    cursor: pointer;
    color: black;
    font-size: 25px;
    position: relative;
    left: 226px;
    bottom: 80px;

  }

  .d-block.w-100 {
    width: 100%;
    height: 30vh;
    object-fit: cover;

  }
}


.info {
  padding: 20px;
}

.info h2 {
  font-weight: 500;
  margin-bottom: 20px;
}

.info p {
  font-weight: 400;
  line-height: 1.6;
}

.form-control {
  border-radius: 0;
  background-color: #f8f9fa;
  color: #495057;
}

.btn-primary {
  background-color: #343a40;
  border-color: #343a40;
  border-radius: 0;
}

.btn-primary:hover {
  background-color: #23272b;
  border-color: #1d2124;
}